h1{
font-size: 60px;
text-align: center;
color: red;
}

h2{
font-size: 30px;
color: white;
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}


body {
background-color: #007471;
}